<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnc.nbaver.model.dao.NBADao">
	<select id="selectAll" resultType="PlayerStat">
		SELECT * FROM player_regular_stat
		WHERE year = '2022-23'
	</select>

	<select id="selectOne" parameterType="String" resultType="PlayerStat">
		SELECT * FROM nba_players
		WHERE NBAName = #{playerName}
	</select>
	
	<select id="selectStatById" parameterType="int" resultType="PlayerStat">
		SELECT * FROM player_regular_stat
		WHERE id = #{id}
	</select>
	
	<select id="selectAllTeam" resultType="TeamStat">
		SELECT * FROM team_stat
	</select>
</mapper>

